
<div class="container row-margin">

<div class="col-md-5 pull-left panel">
  <!--<div class="panel-heading">-->
    <img class="img-responsive center-block"
         src={{smImageUrl}}>
  <!--</div>-->
  <hr>
  <div class="panel-body">
    <p class="lead">
      Saurabh Maheshwari, Bamb Taori & Company
    </p>
  </div>
</div>

  <div class="col-md-5 pull-right panel ">
    <!--<div class="panel-heading">-->
      <img class="img-responsive center-block"
           src={{rsImageUrl}}>
    <!--</div>-->
    <hr>
    <div class="panel-body">
      <p class="lead">
        Rahul Srivastava, Software Developer
      </p>
    </div>
  </div>

</div>
