<div class="well-sm">
  <div class="row">
    <div class="col-md-12">
      <img src="{{selectedTestimonial?.imagePath}}" align="middle" alt="" class="img-responsive">
    </div>
  </div>
  <br>

  <div class="stars">
    <span class="star on"></span>
    <span class="star on"></span>
    <span class="star on"></span>
    <span class="star on"></span>
    <span class="star on"></span>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{selectedTestimonial?.name}}</h1>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p>{{selectedTestimonial?.content}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{selectedTestimonial?.customerName}}</p>
    </div>
  </div>
</div>

