html, body{
  height: 100%
}

body {
  background: url(../../app/images/homeBg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  opacity: 0.8;
}
