<div class="col-md-12 text-center row-margin">
  <a class="btn btn-success" type="button" routerLinkActive="active" [routerLink]="['student']">Students</a>
  <a class="btn btn-success" type="button" routerLinkActive="active" [routerLink]="['working']">Working Professionals</a>
  <a class="btn btn-success" type="button" routerLinkActive="active" [routerLink]="['business']">Small Business</a>
  <a class="btn btn-success" type="button" routerLinkActive="active" [routerLink]="['other']">Other Services</a>
</div>

<div class="container row-margin">
  <router-outlet></router-outlet>
</div>

