<div class="row featurette" id="other">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Other Product<span class="text-muted">See for yourself.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" data-src={{otherProductImage}} alt="Generic placeholder image">
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>


  <hr class="featurette-divider">
</div>
